<template>
  <main>
    <div>
      Interactive table testing
    </div>
    <d-table
      v-if="items.length"
      :fieldset="fieldset"
      :value="tableItems"
      @get="load($event)"
    />
  </main>
</template>

<script>

export default {
  name: 'TableSandbox',

  data: () => ({
    items: Object.freeze([]),
    tableItems: Object.freeze([]),
  }),

  computed: {
    fieldset() {
      return Object.freeze({
        id: {
          title: 'No.',
          order: 0,
        },
        title: {
          title: 'Title',
          order: 1,
        },
        body: {
          title: 'Text',
          order: 2,
        },
        userId: {
          title: 'AuthorID',
          order: 3,
        },
      });
    },
  },

  created() {
    fetch('https://jsonplaceholder.typicode.com/posts')
      .then((response) => response.json())
      .then((json) => {
        this.items = json;
      });
  },

  methods: {
    load({ offset, count }) {
      const nextBunch = this.items.slice(offset, offset + count);
      this.tableItems = offset > 0
        ? this.tableItems.concat(nextBunch)
        : nextBunch;
    },
  },

};
</script>

<style>

</style>
