<template>
  <div>
    <label>
      Count on page:
      <select v-model="pageCnt">
        <option :value="10">
          10
        </option>
        <option :value="20">
          20
        </option>
        <option :value="30">
          30
        </option>
      </select>
    </label>
    <table class="d-table">
      <thead>
        <tr>
          <th
            v-for="(item, key) in fieldset"
            :key="key"
          >
            {{ item.title }}
            <button
              class="d-table__sort-btn"
              :class="{
                [`sort-btn--${ascending ? 'asc' : 'des'}`]: field === key
              }"
              @click="sortBy(key)"
            />
          </th>
        </tr>
      </thead>

      <transition-group
        tag="tbody"
        name="sort"
      >
        <tr
          v-for="item in sortedItems"
          :key="item.id"
        >
          <td
            v-for="(_, key) in fieldset"
            :key="`${item.id}${key}`"
          >
            {{ item[key] }}
          </td>
        </tr>
      </transition-group>
    </table>
  </div>
</template>

<script>
function compare(a, b) {
  if (a > b) {
    return 1;
  }
  if (a < b) {
    return -1;
  }
  return 0;
}

export default {
  name: 'DTable',

  props: {
    fieldset: {
      type: Object,
      required: true,
    },

    value: {
      type: Array,
      required: true,
    },
  },

  data: () => ({
    field: 'id',
    ascending: true,
    pageCnt: 20,
    offset: 0,
  }),

  computed: {
    sortedItems() {
      const { field, ascending } = this;

      return this.value
        .map((v) => v)
        .sort((a, b) => (ascending
          ? compare(a[field], b[field])
          : compare(b[field], a[field])));
    },
  },

  watch: {
    pageCnt: {
      immediate: true,
      handler(val) {
        this.offset = 0;
        this.$emit('get', { offset: 0, count: val });
      },
    },
  },

  methods: {
    sortBy(key) {
      if (key === this.field) {
        this.ascending = !this.ascending;
        return;
      }
      this.field = key;
      this.ascending = true;
    },

    getItems() {
      this.offset += this.pageCnt;
      this.$emit('get', { offset: this.offset, count: this.pageCnt });
    },
  },
};
</script>

<style>
.d-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid gray;
}

.d-table th,
.d-table td {
  padding: 20px;
}

.d-table th {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #fff;
  border: 1ps solid gray;
  font-size: 1rem;
}

.d-table tbody tr:nth-of-type(even) {
  background: #e2f1f8;
}

.d-table tbody tr:nth-of-type(odd) {
  background: #b0bec5;
}

.d-table__sort-btn {
  box-sizing: border-box;
  padding: 0;
  margin-left: 1.25em;
  border: none;
  display: inline-block;
  background-color: transparent;
  width: 1em;
  height: 1em;
  background:
    linear-gradient(#b0bec5, #b0bec5) 0 0 / 100% 20%,
    linear-gradient(#b0bec5, #b0bec5) 0 50% / 100% 20%,
    linear-gradient(#b0bec5, #b0bec5) 0 bottom / 100% 20%;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: background-image .2s;
}

.sort-btn--asc {
  background:
    linear-gradient(#b0bec5, #b0bec5) 50% 0 / 50% 20%,
    linear-gradient(#b0bec5, #b0bec5) 50% 50% / 75% 20%,
    linear-gradient(#b0bec5, #b0bec5) 50% bottom / 100% 20%;
  background-repeat: no-repeat;
}

.sort-btn--des {
  background:
    linear-gradient(#b0bec5, #b0bec5) 50% 0 / 100% 20%,
    linear-gradient(#b0bec5, #b0bec5) 50% 50% / 75% 20%,
    linear-gradient(#b0bec5, #b0bec5) 50% bottom / 50% 20%;
  background-repeat: no-repeat;
}

.sort-move {
  transition: transform .2s;
}
</style>
