<template>
  <div id="app">
    <table-sandbox />
  </div>
</template>

<script>
import TableSandbox from './components/TableSandbox.vue';

export default {
  name: 'App',

  components: {
    TableSandbox,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
